:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

body {
    background-color: var(--Eggshell);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 123px;

    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--Wenge-Brown);
}

#recipe-box {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: var(--White);
    max-width: 736px;
    width: 100%;
    border-radius: 24px;
}

.thumbnail img {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;

}

h1 {
    color: var(--Dark-Charcoal, #312E2C);

    /* Heading L */
    font-family: "Young Serif";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */

    margin-bottom: 12px;
}

#time-box {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 28px;
    background-color: var(--Rose-White);
    border-radius: 12px;

}

span.highlights {
    font-weight: 700;
}

#time-box li {
    padding: 0 0 8px 24px;
    margin-left: -24px;
}

h3 {
    color: var(--Dark-Raspberry);
    /* Heading S */
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 20px */
}

h2.sub-title { 
color: var(--Brandy-Red, #854632);

    /* Heading M */
font-family: "Young Serif";
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 28px */
}

hr {
    width: 100%;
    background: #E3DDD7;
}

#ingredients li {
    padding: 0 0 8px 16px;
}

#instructions li{
    padding: 0 0 8px 16px;
}

#instructions li::marker {
   color: var(--Brandy-Red, #854632);
    font-weight: 700;
}

table {
    border-collapse: collapse;
    padding: 32px;
}

td {
    padding: 12px;
}

table span {
    font-weight:normal;
}

tr {
    border-bottom: 1px solid #ccc;

}

.nutrition-facts {
    color: var(--Brandy-Red, #854632);
/* Body (Bold) */
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
}

table tr:last-child {
    border-bottom: 0;
}

@media only screen and (max-width: 375px) {
    body {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    
        font-family: Outfit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: var(--Wenge-Brown);
    }


  }
  